.signContainer{
  width: 300px;
  height: 400;
  margin: 200px auto;
}

/* body {
  background: #a8ff78;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #78ffd6, #a8ff78); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
/* } */ */

.loginTitle{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.loginForm {
  margin-top: 20px;
}